@import "../../../../_base"; 

.footer {
  border-top: 1px solid #806bc4;

  .footer-detail-copyright {
    background-color: transparent;
    padding: pad(10px);
    text-align: $align-center;
    font-style: $font-style-normal; 
    color: #a698d3;
  }
}